# Ignore bundler config
/.bundle

# Ignore the build directory
/build

# Ignore Sass' cache
/.sass-cache

# Ignore this .cache
/.cache
# Dont ignore these apparently, dumb Tate /.ruby-version

# Ignore .DS_store file
.DS_Store
source/.DS_Store

/test