$font-stack: 'Alight Sans', sans-serif;
$question-font: 'Balto', sans-serif;

body p, h1, h2, button {
  font-family: $font-stack;
  text-align: center;
}

.chart_wrapper {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: $font-stack;
}

.choices {
  text-align: center;
}

.selected {
  background-color: #ffcc20 !important;
}

button.flowchart-button {
  font-size: .9em;
  cursor: pointer; 
  width: 120px;
  margin: 0.1em 1em 1em 0;
  border: 0;
  color: #414141;
  background-color: #ececec;
  font-weight: 100;
  font-style: italic;
}

button.flowchart-button:hover {
  background-color: #f37b21;
}

.question p {
  font-family: $question-font;
  font-size: 1.2em;
  font-weight: 800;
}

.last {
  margin: 0 auto;
  margin-top: 2em;
  width: 50%;
  min-width: 400px;
  border-top: 1px solid #ececec;
}