// Mixin for button hover transitions
@mixin transition($transition-time) {
  -o-transition: $transition-time;
  -ms-transition: $transition-time;
  -moz-transition: $transition-time;
  -webkit-transition: $transition-time;
  transition: $transition-time;
}

$font-stack: 'Alight Sans', sans-serif;
$question-font: 'Balto', sans-serif;

.quiz-container {
  font-family: $font-stack;
  text-align: center;
  background-color: #FFFFFF;
  margin: 0 auto;
  max-width: 770px;
  width: 100%;
  padding-bottom: 1em;
}

.choices {
  text-align: center;
}

div.buttons {
  display:inline;
}

button.flowchart-button {
  @include transition(0.2s);
  font-size: .9em;
  font-weight: 100;
  color: #414141;
  background-color: #ececec;
  cursor: pointer; 
  width: 120px;
  margin: 0.1em 1em 0.4em 0;
  border: 0;
  padding: 12px 0px;
  padding: 8px 10px;
  
  &:hover {
    background-color: #f37b21;
  }
}

p.down-arrow {
  margin: 0 auto;
  width: 100%;
}

.question {
  margin-top: 2.5em !important;
  margin-bottom: 0.4em;
  padding: 0 0.6em 0.6em;
  p {
    font-family: $question-font;
    font-size: 1.2em;
    font-weight: 800;
  }
}

.scorecard {
  margin-top: 15px;
}

.last {
  margin: 0 auto;
  margin-top: 2em;
  width: 70%;
  min-width: 200px;
  border-top: 1px solid #ececec;

  p {
    margin-top: 2em;
    margin-bottom: 0px;
    line-height: 1.5em;
  }
}

#social-media {
  padding: 10px;
}

// Social media buttons on final scorecard
#social-media ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  margin-bottom: 10px;
  li {
    display: inline-block;
    a {
      text-decoration: none;
      svg {
        height: 2em;
        width: 2em;
        margin-right: 1em;
      }
    }
  }
}