.quiz-container {
  border-top:8px solid #fb4834;
  font-family:helvetica,sans-serif;
  padding-top: 20px;
}

.number {
  display:none;
}

.qhead {
}

.question {
  font-family: ff-din-web-condensed,helvetica,sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 1.5em;
  font-style:italic;
  margin: 0% auto;
  margin-bottom: 20px;
  text-transform:uppercase;
  max-width: 80%;
}

ol.answers > li:before {
  font-family: ff-din-web-condensed,helvetica,sans-serif;
  font-style: italic;
  color: #ffffff;
  background-color: #fb4834;
  width: 30px;
  font-size: 1em;
  line-height: 0.8em;
  padding: 8px 0px 5px 0px;
}

ol.answers > li {
  font-family:helvetica,sans-serif;
}

ol.answers > li:hover {
  background-color: #f4f0ee;
}

.hintbutton {
  background-color: #000000;
  color: #ffffff;
  font-family: ff-din-web-condensed,helvetica,sans-serif;
  font-weight: 400;
  font-size: 1.02em;
}

.hintbutton:hover {
  background-color: #fb4834 !important;
}

.selected {
  background-color: #dfdfe0;
}

.score {
  font-family:ff-din-web-condensed,helvetica,sans-serif;
  font-style:italic;
}

#social-media ul li a svg {
  fill:#000000;
}

#social-media ul li a svg:hover {
  fill: #fb4834;
}

#social-media ul li a svg path:hover {
  fill: #ffffff;
}

.answer p:first-child {
  font-family: ff-din-web-condensed,helvetica,sans-serif;
  text-transform:uppercase;
}

.scorecard p:nth-child(2) {
  color:#fb4834;
}

.submityo {
  background-color: #6d6e70;
}

#score {
  width: 40%;
}