// Container for generated quiz
.quiz-container {
  font-family: Alright Sans, sans-serif;
  color: #4c4e4d;
  padding-top: 20px;
}

// Text for each question
.question {
  font-family: Balto, sans-serif;
  font-weight: bold;
  color: #4c4e4d;
  font-size: 1.5em;
  margin: 0% auto;
  margin-bottom: 30px;
  margin-top: 0px;
}

// Answer options for each question
ol.answers > li {
  font-family: Alright Sans, sans-serif;
  padding: 0px 0px 0px 10px;

  &:before {
    font-family: Balto, sans-serif;
    font-weight: bold;
    color: #4c4e4d;
    background-color: #bfd1df;
    width: 25px;
    padding: 2px 0px;
  }
  &:hover {
    background-color: #f1f3f2;
  }
}

// Buttons
.qq-button {
  font-family: Alright Sans,sans-serif;
  color: #4c4e4d;
  background-color: #f1f3f2;
  &:hover {
    background-color: #bfd1df !important;
  }
}

// Highights selected answer
.selected {
  background-color: #f7f7f7;
}

// Submit button color when an answer is selected
.submit-highlight {
  background-color: #dfdfe0;
}

// Style for answer-checking after a question is answered
.answer p:first-child {
  font-family: Balto, sans-serif;
  border-top: 1px solid #4c4e4d !important;
}

// Social media buttons on final scorecard
#social-media {
  ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        text-decoration: none;
        svg {
          fill: #4c4e4d;
          &:hover {
            fill: #fff200;
          }
          path:hover {
            fill: #ffffff;
          }
        }
      }
    }
  }
  > li:before {
    display: none;
  }
}

// Style for scorecard's final score
.scorecard p:nth-child(2) {
  font-family: Balto, sans-serif;
}