body {
	font-family: 'open sans', helvetica, sans-serif;
	color:#ffffff;
	/*background-color:#4e4e50!important;*/
	margin:0px !important;
	padding:0px;
	top:0;
	left:0;
	color:#323132;
	background-image:url(https://farm3.staticflickr.com/2906/14334201187_ec89d42b0a_o.jpg);
	background-repeat:repeat;
	background-attachment:fixed;
	background-position:center bottom;
	background-size:100%;
	margin-right:0px;
}

.voxh {
	position:absolute;
	top:20px;
	right:20px;
	z-index:6;
}

.voxh:hover {
	opacity:0.7;
}


.headline h1 {
	z-index:3 !important;
	padding:50px 0px 50px 0px;
	text-align: center;
	font-family:'open sans', helvetica, sans-serif;
	font-weight:800;
	font-size:4em;
	color:#ffffff;
	margin: 0;
}

.headline h1 > img {
width: 56px;
margin-bottom: -9px;
}

.containing {
	z-index:10!important;
	position:relative;
	background-color:#ffffff;
	margin:0px;
	padding:0px !important;
}

h5 {
	display:block;
	width:70%;
	margin:0% auto;
	padding:5px 0% 5px 0%;
	text-align:left;
	font-size:0.8em;
	font-family:'open sans', sans-serif;
	font-weight:800;
	text-transform:uppercase;
	margin-top:60px;
	margin-bottom:30px;
	color:#000000;
	border-bottom:2px solid #f37b21;
}

h4:first-child {
	display:block;
	width:85%;
	margin:0px 0px 30px 0px;
	background-color:#f37b21;
	padding:5px 0px 5px 15%;
	text-align:left;
	font-size:0.8em;
	font-family:'open sans', sans-serif;
	font-weight:800;
	text-transform:uppercase;
	color:#ffffff;
	border:0px;
}

h4:last-child {
	margin:60px 0px 0px 0px;
	display:block;
	width:85%;
	background-color:#f37b21;
	padding:5px 0px 5px 15%;
	text-align:left;
	font-size:0.8em;
	font-family:'open sans', sans-serif;
	font-weight:800;
	text-transform:uppercase;
	color:#ffffff;
	border:0px;
}



p {
	display:block;
	width:70%;
	margin:0% auto;
	margin-bottom:15px;
	color:#323132;
}

p:last-child {
	margin-bottom:70px;
}

form {
	display:block;
	width:70%;
	margin:0% auto;
	margin-bottom:15px;
	color:#323132;
	padding-bottom:20px;
}

a {
	text-decoration:none;
	color:#f37b21;
	 -o-transition:.1s;
  -ms-transition:.1s;
  -moz-transition:.1s;
  -webkit-transition:.1s;
  transition:.1s;
}

a:hover {
	color:#404041;
}

button {
	background-color:#f27421;
  border: 0;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  text-align:center;
  margin:0% auto; 
  padding: 8px 20px;
  text-decoration:none;
  font-size:0.9em;
  font-family:helvetica;
  font-weight:lighter;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  width:200px;
	padding:12px 0px;
	margin-top:15px;
}

button:hover {
	background-color:#404041;
}

.pv {
	padding:75px 0px 30px 0px;
	background-color:transparent;
	z-index:6!important;
}

textarea {
	background-color:#58585b;
	color:#ffffff;
	border:0px;
	padding:10px;
	width: 74%;
}

#url {
	background-color:#58585b;
	color:#ffffff;
	border:0px;
	padding:2px;
	width:200px;
}