.quiz-container {
  border-top:3px solid #000000;
  font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
}

.number {
  display:none;
}

.qhead {
}

.question {
  font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 1.5em;
  margin: 0% auto;
  margin-bottom: 20px;
}

ol.answers > li {
  font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
}

ol.answers > li:before {
  font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
  font-style:italic;
  color: #ffffff;
  background-color: #3f1e45;
  width: 30px;
}

ol.answers > li:hover {
  background-color: #ebebec;
}

.hintbutton {
  background-color: #FF0052;
  color: #ffffff;
  font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
  font-style:italic;
  font-weight: 800;
  width:180px;
}

.hintbutton:hover {
  background-color: #3f1e45 !important;
}

.selected {
  background-color: #dfdfe0;
}

.score {
  font-family:ff-din-web-condensed,helvetica,sans-serif;
  font-style:italic;
}

#social-media ul li a svg:hover {
  fill: #ed1c55;
}

#social-media ul li a svg path:hover {
  fill: #ffffff;
}

#social-media ul li a svg {
  fill:#3f1e45;
}

.answer p:first-child {
  font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
}

.submityo {
  background-color: #cd1949;
}