.quiz-container {
  border-top:7px solid #c52327;
  text-align: center;
  font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
  padding-top: 20px;
}

.number {
  display:none;
}

.qhead {
}

.question {
  font-family: "Sentinel SSm A","Sentinel SSm B",Georgia,serif;
  color: #000000;
  font-size: 1.5em;
  margin: 0% auto;
  margin-bottom: 20px;
}

ol.answers > li:before {
  font-family: "Sentinel SSm A","Sentinel SSm B",Georgia,serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #c52327;
  width: 30px;
}

ol.answers > li {
  font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
  font-size:0.9em;
}

ol.answers > li:hover {
  background-color: #eeeded;
}

.hintbutton {
  background-color: #000000;
  color: #ffffff;
  font-family: ff-din-web-condensed,helvetica,sans-serif;
  font-weight: 800;
}

.hintbutton:hover {
  background-color: #c52327 !important;
}

.score {
  font-family:ff-din-web-condensed,helvetica,sans-serif;
  font-style:italic;
}

#social-media ul li a svg:hover {
  fill: #c52327;
}

#social-media ul li a svg path:hover {
  fill: #ffffff;
}

.answer p:first-child {
  font-family: "Sentinel SSm A","Sentinel SSm B",Georgia,serif;
}

.answer p {
  font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
  font-size:0.9em;
}

.submityo {
  background-color: #6d6e70;
}