$font-stack: Georgia, serif;
$question-font: "KnockoutHTF29-JuniorLiteweight", "Arial Narrow", serif;
$red: #C92025;

// Container for generated quiz
.quiz-container {
  font-family: $font-stack;
  color: #4C4E4D;
  padding-top: 20px;
  border-top: 3px solid $red;
}

// Text for each question
.qq-question {
  font-family: $question-font;
  font-weight: bold;
  color: #4C4E4D;
  font-size: 1.5em;
  margin: 0% auto;
  margin-bottom: 30px;
  margin-top: 0px;
}

// Description for each question
.qq-description {
  font-family: $font-stack;
  padding: 20px 30px 0px 30px;
}

// Answer options for each question
ol.answers > li {
  font-family: $font-stack;
  padding: 0px 0px 0px 10px;

  &:before {
    font-family: $question-font;
    font-weight: bold;
    color: #fff;
    background-color: $red;
    width: 25px;
    padding: 2px 0px;
  }
  &:hover {
    background-color: #ececec;
  }
}

// Buttons
.qq-button {
  font-family: $font-stack;
  color: #FFFFFF;
  text-transform: none;
  background-color: #4C4E4D;
  &:hover {
    background-color: $red !important;
  }
}

// Highlights selected answer
.selected {
  background-color: #ececec;
  color: #4C4E4D;
}

// Submit button color when an answer is selected
.submit-highlight {
  background-color: #6F7170;
}

// Checking selected answer
.answer p:first-child {
  font-family: $question-font;
  border-top: 1px solid #4c4e4d !important;
}

// Social media buttons on final scorecard
#social-media {
  ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;

      &:before {
        background-color:transparent !important;
        // display: none;
      }

      a {
        text-decoration: none;
        svg {
          fill: #4c4e4d;
          &:hover {
            fill: #fff200;
          }
          path:hover {
            fill: #ffffff;
          }
        }
      }
    }
  }
}

// Style for scorecard's final score
.scorecard p:nth-child(2) {
  font-family: $question-font;
}

// Hyperlinks
.answer a {
  color: #6d98a8;
  text-decoration: none;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  &:hover {
    text-decoration:underline;
  }
}

// Flowchart selection
.flowchart-selected {
  background-color: $red !important;
}