$font-stack: ff-din-web-condensed, Helvetica, sans-serif;
$bright-red: #FB4834;

// Container for generated quiz
.quiz-container {
  font-family: Helvetica, sans-serif;
  border-top: 8px solid $bright-red;
  padding-top: 20px;
}

// Text for each question
.qq-question {
  font-family: $font-stack;
  font-weight: 800;
  font-size: 1.5em;
  font-style: italic;
  text-transform: uppercase;
  color: #000000;
  margin: 0% auto;
  max-width: 80%;
  margin-bottom: 20px;
}

// Description for each question
.qq-description {
  padding: 20px 15px 0px 15px;
}

// Answer options for each question
ol.answers > li {
  font-family: Helvetica, sans-serif;
  font-size: 0.9em;

  &:before {
    font-family: $font-stack;
    font-style: italic;
    font-weight: 800;
    font-size: 1em;
    color: #FFFFFF;
    line-height: 0.8em;
    background-color: $bright-red;
    width: 30px;
    padding: 8px 0px 5px 0px;
  }
  &:hover {
    background-color: #F4F0EE;
  }
}

// Buttons
.qq-button {
  font-family: $font-stack;
  font-weight: 400;
  font-size: 1.02em;
  color: #FFFFFF;
  background-color: #000000;
  &:hover {
    background-color: $bright-red !important;
  }
}

// Highlights selected answer
.selected {
  background-color: #DFDFE0;
}

// Submit button color when an answer is selected
.submit-highlight {
  background-color: #6D6E70;
}

// Checking selected answer
.answer p:first-child {
  font-family: $font-stack;
  text-transform: uppercase;
}

// Width of 'See Final Score' button
.check-score {
  width: 35%
}

// Social media buttons on final scorecard
#social-media ul li a svg {
  fill: #000000;
  &:hover {
    fill: $bright-red;
  }
  path:hover {
    fill: #FFFFFF;
  }
}

// Style for scorecard's final score
.scorecard p:nth-child(2) {
  color: $bright-red;
}

// Hyperlinks
.answer a {
  color: $bright-red;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// FLowchart selection
.flowchart-selected {
  background-color: $bright-red !important;
  color: #FFFFFF !important;
}

// Flowchart button hover
.flowchart-button {
  &:hover {
    background-color: $bright-red;
    color: #FFFFFF;
  }
}