<h1>Flowchart Generator</h1>
<div class="container">
  <h4> Write your flowchart</h4>
  <p>Use <a href="https://drive.google.com/previewtemplate?id=0AlMgrVuuAI0MdGl6NngwMGYtX3RHQjlic0xzNnBjUGc&mode=public" target="_new">this Google Spreadsheet template</a> to write your quiz.</p>
  <p>Once you're done editing, publish the spreadsheet to the web. Under the <b>"File"</b> menu, select <b>"Publish to the Web."</b> Click <b>"Start Publishing"</b> and copy the URL to build the quiz.</p>
  <center><p style="font-size:0.8em">Want to test it out? Try this spreadsheet:<br><textarea style="overflow:auto;" rows="1">https://docs.google.com/spreadsheet/pub?key=0AlMgrVuuAI0MdDE4ZVRWVXpmVktHc3oyNVJ0SWt0c0E&output=html</textarea></p></center>

<h5> Enter your spreadsheet</h5>
<p>Copy and paste your spreadsheet's URL here: <input type="text" id="url"></p>

<h5> Select your vertical</h5>
<form>
  <input type="radio" name="pub" value="vox">&nbsp;Vox&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="radio" name="pub" value="sbnation">&nbsp;SB Nation&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="radio" name="pub" value="verge">&nbsp;The Verge&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="radio" name="pub" value="polygon">&nbsp;Polygon
</form>
<div class="embed" style="margin-top: 30px; margin-bottom: 60px;">
  <h5>Generate, copy and paste this code into Chorus</h5>
  <center><p><button id="build" onclick="buildquiz()">Generate your quiz</button><p>
  <p><textarea type="text" name="embedcode" id="embedcode" style="height: 150px; overflow:auto;"></textarea></center></p>
</div>
</html>
<h4>Preview</h4>
</div>

<div class="quiz-preview">
<div class="quiz-container"></div>
</div>
<div class="chart_wrapper"></div>

<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/tabletop.js"></script>
<script src="javascripts/flowchart.js"></script>