<h1>Flowchart Static</h1>
<h2>A Chart That Flows</h2>
<div class="container">
  <div class="flowchart">
    <div class="flowchart-1">
      <div class="question">
        <p>Did you fart?</p>
      </div>
      <div class="choices">
        <button>Yes</button>
        <button>No</button>
      </div>
    </div>
  </div>
</div>