<div class="vox-logo"><a href="http://www.voxmedia.com/"><img src="images/voxlogo.png" style="width:40px;"></a></div>

<div class="quiz-quartet">
  <h1><img src="images/qq.png">Quiz Quartet</h1>
</div>

<div class="container">
  <h4> Write your quiz</h4>
  <form>
    <input type="radio" name="quiz-type" value="quiz"><label>Multiple Choice</label>
    <input type="radio" name="quiz-type" value="flowchart"><label>Flowchart</label>
  </form> 
  <p>Use <a id="quiz-template" target="_new">this Google Spreadsheet template</a> to write your quiz.</p>
  <p>Once you're done editing, publish the spreadsheet to the web. Under the <b>"File"</b> menu, select <b>"Publish to the Web."</b> Click <b>"Start Publishing"</b> and copy the URL to build the quiz.</p>
  <center><p style="font-size:0.8em">Want to test it out? Try this spreadsheet:<br><textarea style="overflow:auto;" rows="1" id="example-spreadsheet"></textarea></p></center>

  <h5> Enter your spreadsheet</h5>
  <p>Copy and paste your spreadsheet's URL here: <input type="text" id="url"></p>

  <h5> Select your vertical</h5>
  <form>
    <input type="radio" name="pub" value="vox"><label>Vox</label>
    <input type="radio" name="pub" value="sbnation"><label>SB Nation</label>
    <input type="radio" name="pub" value="verge"><label>The Verge</label>
    <input type="radio" name="pub" value="polygon"><label>Polygon</label>
    <input type="radio" name="pub" value="eater"><label>Eater</label>
    <input type="radio" name="pub" value="racked"><label>Racked</label>
  </form>

  <div class="embed" style="margin-top: 30px; margin-bottom: 60px;">
    <h5>Generate, copy and paste this code into Chorus</h5>
    <center><p><button id="build">Generate your quiz</button><p>
    <p><textarea type="text" name="embedcode" id="embedcode" style="height: 150px; overflow:auto;"></textarea></center></p>
  </div>

  <h4>Preview</h4>

</div>

<div class="quiz-preview">
  <div class="quiz-container"></div>
</div>

<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/tabletop.js"></script>
<script src="javascripts/getdata.js"></script>