<div class="quiz-container">

</div>

<script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script src="javascripts/tabletop.js"></script>
<script src="javascripts/fashion-quiz.js"></script>

<link rel="stylesheet" type="text/css" href="stylesheets/quiz-fashion.css">
<link rel="stylesheet" type="text/css" href="stylesheets/quiz-racked.css">